/* Ignore file for Aquiis projects */

# Build outputs
**/bin/
**/obj/

# Node modules
node_modules/

# Database files
*.db

Data/*.db
/Data/*.db
Data/Backups/**
/Data/Backups/**

Data/*app.db
/Data/*app.db

/Data/app*

